<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <h1 class="ui center aligned header">Todo List Flask</h1>

        <form action="/add" method="POST" class="ui form">
            <div class="ui action input">
                <input type="text" name="title" value="" placeholder="Enter title here..." />
                <br>
                <button type="submit" class="ui button">Add todo</button>
            </div>
        </form>

        {% for todo in todo_list %}
            <div class="ui segment">
                <p class="ui big header">{{ todo.id }} - {{ todo.title }}</p>
                {% if todo.complete %}
                    <span class="ui green label">Complete</span>
                    <br>
                {% else %} 
                    <span class="ui gray label">Not complete</span>
                    <br>
                {% endif%}
                <br>
                <a class="ui green button edit" id={{ todo.id }}>Edit</a>
                <a class="ui blue button" href="/update/{{ todo.id }}/">
                    {% if todo.complete %}
                        Uncomplete
                    {% else %}
                        Complete
                    {% endif %}
                </a>
                <a class="ui red button" href="/delete/{{ todo.id }}/">Delete</a>
            </div>

            <div class="ui modal {{ todo.id }}">
                <i class="close icon"></i>
                <div class="header">
                  Edit Todo {{ todo.id }}
                </div>
                <div class="content">
                  <div class="description">
                    <form action="/edit/{{ todo.id }}/" method="POST" class="ui form">
                        <div class="ui action input">
                            <input type="text" name="title" value="{{ todo.title }}" />
                            <br>
                            <button type="submit" class="ui button">Save</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
    <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="static/js/edit.todo.js"></script>
</body>
</html>