<div class="ui modal add">
    <i class="close icon"></i>
    <div class="header">
    New todo
    </div>
    <div class="content">
    <div class="description">
        <form action="/add/" method="POST" class="ui form">
            <div class="ui action input">
                <input type="text" name="title" />
                <br>
                <button type="submit" class="ui button">
                    <i class="save icon"></i>
                </button>
            </div>
        </form>
    </div>
    </div>
</div>