{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <h1 class="ui center aligned header">Todo List Flask</h1>
    <br>
    <div class="ui stackable menu">
        <a class="item" href="/">Home</a>
        <a class="item">Profile</a>
        <a class="item" href="/logout">Logout</a>
      </div>
    <br>
    <div class="ui four column centered grid">
        {% include "home/todo-form.html" %}
    </div>

    <div class="ui grid">
        

        {% if not todo_count %}
            <h2 class="ui center aligned">Nothing to do...</h2>
        {% endif %}

        {% for todo in todo_list %}
            <div class="four wide column">
                <div class="ui orange inverted segment">
                    <p class="ui header">{{ todo.id }} - {{ todo.title }}</p>
                    <p>{{ todo.created.strftime('%d-%m-%Y') }}</p>
                    {% if todo.complete %}
                        <span class="ui green label">Complete</span>
                        <br>
                    {% else %} 
                        <span class="ui gray label">Not complete</span>
                        <br>
                    {% endif%}
                    <br>
                    
                    <form action="/delete/{{ todo.id }}/" method="POST">
                        <a class="ui blue button edit" id={{ todo.id }}>
                            <i class="edit icon"></i>
                        </a>
                        <a class="ui blue button" href="/update/{{ todo.id }}/">
                            <i class="calendar check icon"></i>
                        </a>
                        <button  type="submit" class="ui red button">
                            <i class="trash alternate icon"></i>
                        </button>
                    </form>
                </div>
    
                <div class="ui modal {{ todo.id }}">
                    <i class="close icon"></i>
                    <div class="header">
                    Edit Todo: {{ todo.id }}
                    </div>
                    <div class="content">
                    <div class="description">
                        <form action="/edit/{{ todo.id }}/" method="POST" class="ui form">
                            <div class="ui action input">
                                <input type="text" name="title" value="{{ todo.title }}" />
                                <br>
                                <button type="submit" class="ui button">
                                    <i class="save icon"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}